.more {
  position: absolute;
  background-color: white;
  left: 140px;
  top: 110px;
  padding: 60px 80px 25px 215px;
  border-radius: 40px;
  z-index: 2;
  animation-name: more;
  animation-duration: 700ms;
}
.more__close {
  position: absolute;
  background-color: rgba(22, 39, 62, 0);
  right: 35px;
  top: 35px;
}
.more__close img {
  width: 30px;
}
.more__title {
  margin: 0 0 15px;
}
.more__content {
  margin: 50px 0 57px;
}
.more__list {
  animation-name: more;
  animation-duration: 700ms;
}
.more__list-num {
  font-size: 24px;
  font-family: "Gilroy";
  color: rgb(140, 201, 232);
  font-weight: bold;
  margin: 0 0 15px 0;
}
.more__list-item {
  max-width: 480px;
  font-size: 22px;
  font-family: "DINPro";
  margin: 0 0 15px 0;
  color: rgb(46, 46, 46);
}
.more__points {
  display: flex;
  align-items: center;
  gap: 10px;
}
.more__points-button {
  background-color: inherit;
  margin: 0 0 0 5px;
}
.more__points-button img {
  height: 15px;
}
.more__points-button:first-child {
  transform: rotate(180deg);
  margin: 0 5px 0 0;
}
.more__points-point {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid black;
}
.more .active {
  animation-name: active-point;
  animation-duration: 700ms;
  animation-fill-mode: forwards;
}

.underlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #16273e;
  opacity: 0.6;
  z-index: 1;
  animation-name: underlay;
  animation-duration: 700ms;
}

@keyframes more {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes underlay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.6;
  }
}
@keyframes active-point {
  0% {
    border: 2px solid black;
  }
  100% {
    background-color: #fc6da9;
    border: none;
  }
}